body{
    background-color: wheat;
}

h1{
    color: blue;
    text-align: center;
    font-family: Arial;
}
h2{
    color: blue;
    text-align: center;
    font-family: Arial;
}
p{
    font-size: larger;
    font-family: Helvetica;
    color: royalblue;
}
 i{
    color: blue;
 }

 b{
     font-family: Cambria;
 }
 li{
     font-size: 10;
     color: hotpink;
 }  