body{
    background-color: wheat;
}

th{
    color: blue;
    text-align: center;
    font-family: Arial;
    border-style: solid;
}

td{
    font-size: larger;
    font-family: Helvetica;
    color: royalblue;
    border-style: solid;
}

 i{
    color: blue;
 }

 b{
     font-family: Cambria;
 }
 li{
     font-size: 10;
     color: hotpink; 
 }  

